<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="test.css">
    <title>ネストされたDL構造</title>
</head>
<body>
    <div>
        <dl>
            <span>Week 1</span>
            <dd>
                <h3>Week1 DETAIL</h3>
                <p>Detail text<br>
                    TEXTTEXT
                </p>
            </dd>
            <dd><img src="../img/sample.jpg"></dd>
        </dl>
        <dl>
            <span>Week 2</span>
            <dd>
                <h3>Week2 DETAIL</h3>
                <p>Detail text<br>
                    TEXTTEXT
                </p>
            </dd>
            <dd><img src="../img/sample2.jpg"></dd>
        </dl>
    </div>
</body>
</html>
